#searchParams {
    color: #fff !important;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none !important;
}

#form {
    font-family: 'Raleway' !important;
}

/* default width too narrow */
.tooltip-inner {
    width: 150px !important;
}

/* to allow glyphicons at end of form field */
.form-control {
    display: inline-block !important;
    margin-bottom: 15px !important;
    width: 95% !important;
    margin-right: 5px !important;
}

/* create space between glyphs and text */
.glyphicon-transfer {
    margin-left: 15px !important;
}

.glyphicon-exclamation-sign {
    margin-left: 15px !important;
}

.glyphicon-info-sign {
    margin-left: 15px !important;
}

/* make sure chevrons are light blue */
.glyphicon-chevron-left {
    color: #5bc0de !important;
}

.glyphicon-chevron-right {
    color: #5bc0de !important;
}

/* spacing next to 'previous' and 'next' buttons above citation graphs */
.pager {
    margin: 5px !important;
}

/* centres the alert box (throttle or no records errors) on the page */
#alertBox {
    position: fixed !important;
    left: 35% !important;
    top: 35% !important;
}

/* 'Notes' box on initial page */
.modal-dialog {
    padding-left: 40px !important;
}

/* KEEPS BUTTONS AT END OF FORM FIELD */

.journal_buttons {
    position: absolute;
    right: 0;
    top: 0;
    display: inline;
}

.journal_fields_wrap {
    position: relative;
}

.title_buttons {
    position: absolute;
    right: 0;
    top: 0;
    display: inline;
}

.title_fields_wrap {
    position: relative;
}

.form_title {
    margin-bottom: 0px;
    margin-top: 0px;
}

.form_field {
    margin-top: 24px;
}

.add_journal_field_button {
    margin-right: 28px;
}

.add_title_field_button {
    margin-right: 28px;
}

/* .graphs {
    margin-left: 40px !important;
} */

.chart1 {
    display: inline-block !important;
    margin-right: 10px !important;
}

.chart2 {
    display: inline-block !important;
}

/* #rankChart {
    float: none;
    margin-right: auto;
    margin-left: auto;
} */

.col {
    float: left;
    margin-right: 40px;
    border-left: solid #5bc0de 8px;
    padding-left: 12px;
}

/* .panel-info {
    float: none !important;
    margin-right: auto !important;
    margin-left: auto !important;
} */

#freqChart {
    float: none !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

#submit {
    margin-top: 40px;
}

#tenYear {
    display: inline-block !important;
}

#subTitle {
    display: inline !important;
}

.chart3 {
    padding: none !important;
}

.node {
    opacity: 0.5 !important;
}

.node:hover {
    opacity: 1 !important;
}

.dropdown {
    margin-top: 20px;
}

.backdrop {
    background-color: #5bc0de !important;
    border-radius: 10px !important;
}

.titles {
    color: #fff !important;
    margin-bottom: 0px;
}

#impact {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    padding-left: 30px !important;
    display: inline-block !important;
}

#algorithm {
    margin-top: 100px;
    margin-left: 30px;
    display: inline-block !important;
}

.graph_fields_wrap1 {
    margin-right: auto !important;
    margin-left: auto !important;
    width: 1190px !important;
}

.graph_fields_wrap2 {
    margin-right: auto !important;
    margin-left: auto !important;
    width: 1190px !important;
}

.jumbotron {
    display: block !important;
    float: none !important;
    bottom: 0 !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

#header {
    float: none !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

.pager {
    font-weight: bold;
    color: #5bc0de;
    border: none;
    background-color: #f7f7f7;
    padding: 5px !important;
    border-radius: 5px;
}

#next1 {
    float: right !important;
}

#next2 {
    padding-left: 3px !important;
    float: right !important;
}

.indexer {
    display: inline-block !important;
    float: none !important;
    margin-right: auto !important;
    margin-left: 150px !important;
}