#searchParams {
	color: #fff !important;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none !important;
}

#form {
	font-family: 'Raleway' !important;
}

.add_journal_field_button {
    margin-bottom: 4px !important;
    margin-left: 335px !important;
}

.add_title_field_button {
    margin-bottom: 4px !important;
    margin-left: 325px !important;
}

/* .sg-content {
	background-image: url("images/footer_lodyas.png") !important;
	background-repeat: repeat !important;
} */