#searchParams {
	color: #fff !important;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none !important;
}

#form {
	font-family: 'Raleway' !important;
}

.sg-content {
	background-image: url("images/swirl_pattern.png") !important;
	background-repeat: repeat !important;
}