/* CSS reset for standard amongst different browsers */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td {
	margin:0;
	padding:0;
}

#mail {
	color: #7bafd4;
	font-weight: thick;
	font-family: 'Raleway';
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: #f4efdd;
}

/* ul {
	list-style: decimal;
	list-style-position: inside;
	background-color: #303030;
	color: #7bafd4;
	width: 300px;
	padding: 5px;
	margin-left: 40px;
	line-height: 200%;
	border: 3px solid #00fc04;
} */

body {
	background-color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	color: #000;
}

p {
	line-height: 150%;
	color: #303030;
}

.wrapper {
	margin-left: 60px;
	display: inline-block;
	/* width: 470px; */
}

header {
	height: 100px;
	/* background-color: #152d6d; */
	background-image: url('images/cvi_globalnav.jpg');
	background-position: center;
	background-size: 10px 94px;
	float: top;
	top: 0px;
}

html {
	width: 100%;
	position: static;
	height: 840px;
}

h1.logo {
	padding-top: 15px;
	color: #fff;
	font-size: 36px;
	text-shadow: -1px -1px 0 #000,
				  1px -1px 0 #000,
				 -1px  1px 0 #000,
				  1px  1px 0 #000;
}

h2 {
	color: #fff;
	font-size: 24px;
	text-shadow: -1px -1px 0 #000,
				  1px -1px 0 #000,
				 -1px  1px 0 #000,
				  1px  1px 0 #000;
}

#instructHeader {
	color: #303030;
	font-size: 24px;
	text-shadow: none;
}

#mainBlock {
	display: inline-block;
	float: left;
	z-index: -1;
	margin-top: 20px;
	margin-left: 60px;
	margin-bottom: 180px;
}

.about {
	float: top;
	/* background-color: #303030; */
	background-image: url('images/cvi_globalnav_grey.jpg');
	background-position: center;
	background-size: 10px 43px;
	border-top: 2px solid #c8102e;
	/* border-bottom: 2px solid #7bafd4; */
	padding: 5px;
	font-family: 'Raleway', sans-serif;
	top: 100px;
	width: 100%;
	margin-left: 
}

footer {
	width: 100%;
	bottom: 0;
	height: 50px;
	/* background-color: #fff; */
	background-image: url('images/cvi_globalnav_grey.jpg');
	background-position: center;
	background-size: 10px 70px;
	border-top: 2px solid #c8102e;
	color: #f4efdd;
	font-family: 'Lora', serif;
	position: fixed;
	text-align: center;
	padding: 1em;
}

.credit {
	color: #fff;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
}

.input {
	color: #303030;
	font-size: 1.8em;
}

h3 {
	color: #fff;
	display: inline-block;
}

select {
	font-family: 'Lora', serif;
	background-color: #cadfee;
	border: 2px solid #003c71;
	color: #003c71;
	padding: 2px;
	padding-left: 8px;
	font-weight: bold;
}

select option {
	background-color: rgba(79,79,79,0.3);
	color: #f4efdd;
}

#ncl {
	top: 15px;
	right: 30px;
	width: 173px;
	position: absolute;
	z-index: 500;
	display: inline-block;
}

#links {
	display: inline-block;
	color: #fff;
}

.submit {
	width: 100px;
	padding: 5px;
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
	color: #fff;
	border: 2px solid #c8102e;
	margin-top: 80px;
	position: absolute;
	border-radius: 7px;
	cursor: pointer;
	background-image: url('images/cvi_globalnav.jpg');
	background-position: center;
	background-size: 10px 35px;
	/* background-color: #152d6d; */
}

input {
	background-color: #cadfee;
	border: 2px solid #003c71;
}

.field {
	color: #003c71;
	font-family: 'Lora', serif;
	padding: 10px;
	font-size: 1.5em;
	font-weight: bold;
	border-radius: 7px;
}

option {
	color: #003c71 !important;
	font-weight: bold;
	background-color: #7bafd4;
}

#dropdown option:hover {
	background-color: #cadfee !important;
	color: #003c71 !important;
}

#dropdown {
	margin-bottom: 20px;
	border-radius: 7px;
}

.date {
	color: #003c71;
	font-family: 'Lora', serif;
	padding: 2px;
	text-align: center;
}

#table {
	width: 100%;
	padding: 2px;
	border-collapse: collapse;
	background-color: white;
}

th {
	height: 50px;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	padding: 5px;
	border: 2px solid #303030;
	color: black;
}

td {
	font-family: 'Lora', serif;
	border: 2px solid #303030;
	padding: 3px;
	text-align: center;
	font-size: 0.8em;
	color: black;
}

.button {
	padding: 10px;
	font-family: 'Raleway', sans-serif;
	color: #fff;
	/* border: 3px solid #000; */
	/* background-color: #303030; */
	background-image: url('images/cvi_globalnav_grey.jpg');
	background-position: center;
	background-size: 10px 30px;
	border-radius: 7px;
	cursor: pointer;
	display: inline-block;
	width: 245px;
	margin-left: 30px;
}

.hidden {
	display: none;
}

.unhidden {
	display: block;
	margin-top: 0px !important;
}

.form {
	display: inline;
	width: 600px;
}

#citationsTable {
	width: 400px;
	position: static;
	top: 0;
	margin-bottom: 200px;
	margin-left: 200px;
	right: 0;
	background-color: #303030;
	color: #00fc04;
}

#citationsRow {
	color: #00fc04;
}

#citationsData {
	color: #00fc04;
	font-size: 1.1em;
	border: 2px solid white;
}

#citationsHeader {
	font-size: 1.8em;
	font-family: 'Raleway', sans-serif;
	color: white;
	border: 2px solid white;
}

.chart {
	margin-left: 150px;
	margin-right: 100px;
	margin-top: 40px;
	display: inline-block;
	float: left;
}

#info {
	display: inline-block;
	float: top;
	padding: 8px;
	background-image: url('images/cvi_globalnav_grey.jpg');
	background-position: center;
	background-size: 10px 86px;
	border-radius: 7px;
}

svg {
	overflow: visible;
}

/* .chart rect {
	fill: #4aaeea;
} */

/* .chart rect:hover {
	fill: brown;
} */

/* .chart text:hover {
	fill: brown;
} */

/* .chart text {
	font: 10px 'Lora' sans-serif;
	text-anchor: end;
} */

/* div {
	margin-left: 100px;
} */

/* .axis text {
	font: 20px 'Lora' sans-serif;
	color: white;
} */

.axis g, .axis line {
	fill: #000;
	shape-rendering: crispEdges;
	font-size: 18px;
}

.domain {
	fill: navblue;
}

#loading {
	position: relative;
	top: 100px;
	left: 30px;
	margin-left: 100px;
	color: #303030;
}

#instructions {
	float: left;
	display: inline-block;
	margin-top: 20px;
	margin-left: 100px;
}

#instructText {
	/* border: 5px solid #218c03; */
	padding: 10px;
	/* background-color: #303030; */
	background-image: url('images/cvi_globalnav_grey.jpg');
	background-position: center;
	background-size: 10px 225px;
	border-radius: 7px;
}

#graphHeader {
	margin-left: 60px;
	color: #c8102e;
	text-shadow: none;
}

/* #addField {
	display: block;
	margin-top: 40px;
} */

h4 {
	color: #fff;
}

#prompt {
	color: #303030;
}

/***** BEGIN nav Menu Styles *****/
.clear:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

html[xmlns] .clear {
	display: block;
}

* html .clear {
	height: 1%;
}

nav {
	margin-left: 55px;
	width: 600px;
}

nav.nav {
	border-top: 1px solid #282c2f;
	border-bottom: 1px solid #121317;
	border-radius: 3px;
	display: block !important;
}

nav.nav ul {
	margin: 0px;
	padding: 0px;
	border-left: 1px solid #2e3235;
}

/* Top level */
nav.nav li {
	list-style: none;
	float: left;
	border-right: 1px solid #2e3235;
	position: relative;
}

nav.nav li.first, nav li.first a {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	-moz-border-top-left-radius: 2px;
	-moz-border-bottom-left-radius: 2px;
}

nav.nav li.last, nav li.last a {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	-moz-border-top-right-radius: 2px;
	-moz-border-bottom-right-radius: 2px;
}

nav.nav li.drop a {
	padding-right: 30px;
}

nav.nav li a {
	display: block;
	padding: 9px 23px 10px;
	text-decoration: none;
	background-image: url(/academic_intelligence/public/images/navigation-sprite.png);
	background-repeat: repeat-x;
	font-size: 12px;
	color: #fff;
	border-top: 1px solid #5a5d60;
	border-left: 1px solid #525659;
	text-shadow: 0px -1px 0px #000;
}

nav.nav li a {
	background-position: 0px 0px;
}

nav.nav li a:hover, nav li.active a {
	background-position: 0px -36px;
}

nav.nav li a:active {
	background-position: 0px -72px;
}

nav.nav .dropdown {
	display: block;
	float: right;
	width: 7px;
	height: 5px;
	background: url(/academic_intelligence/public/images/drop-down.png) no-repeat;
	margin: -20px 15px 0px 12px;
}

/* Drop down */
nav.nav li ul {
	opacity: 0;
	position: absolute;
	top: 45px;
	left: -26px;
	padding: 12px 15px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: #222;
	display: none;
	z-index: 100;
}

nav.nav li ul li {
	border-right: 0px;
	float: none!important;
	border-bottom: 1px solid #444;
	width: 125px;
}

nav.nav li ul li:last-child {
	border-bottom: 0px;
}

nav.nav li ul li a {
	background: none!important;
	border-left: 0px;
	border-top: 0px;
	padding: 10px 0px;
	font-size: 11px;
}

nav.nav li ul li a:hover {
	opacity: 0.5;
}

nav.nav li ul li.arrow {
	background: url(/academic_intelligence/public/images/arrowtop.png) top left no-repeat;
	border-bottom: 0px;
	height: 10px;
	margin-top: -22px;
	margin-bottom: 10px;
}

/***** END nav Menu Styles *****/